<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJ8R6RYE3j1TwwbeoTNWGDz7Qq_WoCa58</string>
	<key>GCM_SENDER_ID</key>
	<string>966858969115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappclone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-8fa5b</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-8fa5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966858969115:ios:010e8e849e19153d8da8be</string>
</dict>
</plist>